@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;  //Layout = "_Layout"; kısmı okeyler Manage>_ViewStart.cshtml
    }
    else
    {
        Layout =  "/Views/Shared/_Layout.cshtml"; //Bu değişiklik ile Merhaba aslannsena@gmail'e tıkladığında manage your account sayfasına yönlendiriyor
        //"/Areas/Identity/Pages/_Layout.cshtml";   
    }
}

<h2>Hesabını Düzenle</h2>

<div>
    <h4>Hesap ayarlarınızı değiştirin</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
